!*/
!*.*py
*.__pycache__
.pyc
!*file
!*.y*ml
!*.ipynb
.ipynb_checkpoints/
__pycache__/
!*.egg-info
UNKNOWN.egg-info/
dask-worker-space/
fitsviz.egg-info/
fitsenv
fitsviz/__init__.pyc
fitsviz/utils/__init__.pyc